* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	
}



body {
	width: 100vw;
	min-height: 100vh;
	max-width: 100vw;
	color: white;
	overflow-x: hidden;
}

@media screen and (max-width: 1400px) {
	html {
		font-size: 14px;
	}
}

@media screen and (max-width: 900px) {
	html {
		font-size: 12px;
	}
}

@media screen and (max-width: 500px) {
	html {
		font-size: 10px;
	}
}

.title-msg {
	padding: 70px 35px;
}

.pink {
	color: #bc56c8;
	font-weight: 700;
}
.white {
	color: white;
}

.nav-bar__list {
	display: flex;
	align-items: right;
	flex-wrap: wrap;
	column-gap: 1.5rem;
	list-style: none;
	font-size: 25px;
	font-family: "Gaegu";
	font-weight: bold;
	margin: 0;
}

.navigation-container {
	padding: 40px;
}

.nav-bar {
	display: flex;
	align-items: center;
	column-gap: 2rem;
	justify-content: right;
}

.star {
	position: absolute;
	top: 0;
	right: 70%;
	z-index: -1;
}

.fourth-section {
	position: relative;
}
.star-fourth-section {
	position: absolute;
	z-index: -1;
}

.text-header {
	font-size: 124px;
}

.main-container {
	/* top | right | bottom | left */
	position: relative;
}

.btn-more {
	color: white;
	background-color: #bc56c8;
	padding: 10px 35px;
	border-radius: 6px;
	border: none;
}

.main-text {
	font-size: 1.2rem;
	max-width: 500px;
}

.main-text i {
	font-weight: bold;
	font-size: 2rem;
}

hr {
	opacity: 1;
}

.advantages-item img{
	height: 100%;
}

.advantages-item1__header {
	font-weight: 700;
}

a {
	color: white;
	text-decoration: none;
}

.advantages-item {
	display: flex;
	flex-direction: row;
	column-gap: 2rem;
	margin-bottom: 4rem;
}

.advantages-item__text {
	display: flex;
	flex-direction: column;
	font-weight: 400;
	font-size: 1.5rem;
}

.main-image {
	position: relative;
	display: flex;
	background: url('Rectangle.png');
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: right;	
	background-size: contain;
	justify-content: right;
}

@media (max-width: 1040px){
	.text-header {
		font-size: 40px;
	}
	.star {
		right: 0;
	}

	.img-group{
		width: 100%;
	}

}

.main {
	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	overflow: hidden;
}

.info-cards {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	padding: 50px 0 50px 0;
	justify-content: center;
	column-gap: 3rem;
	flex-wrap: wrap;
}

.stars {
	position: absolute;
	left: 15%;
}

.second-section {
	background-color: #bc56c8;
	max-width: 100vw;
	overflow: hidden;
}

.card {
	border: 5px solid white;
	border-radius: 0;
	text-align: center;
	font-size: 50px;
	flex: 1;
	overflow: hidden;
	max-width: calc(33% - 5rem);
}

@media (max-width: 1070px){
	.text-header {
		font-size: 40px;
	}
	.main-image {
		justify-content: center;
		background-position: center;
	}

	.info-cards {
		column-gap: 1rem;
	}

	.card {
		font-size: 25px;
		max-width: calc(33% - 2rem);
	}
	
	.stars {
		left: 0;
		width: 20%;
	}
}

.third-section__container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.brands, .brands-text {
	font-size: 2rem;
	text-align: center;
	max-width: 55%;
}

.brands h1 {
	font-weight: 800;
}

.third-section__container {
	padding: 5% 0 5% 0;
	margin: 0 10% 0 10%;
	border: 3px #f8b017 solid;
	border-radius: 15px;
	
}

.fourth-section__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #bc56c8;
	color: white;
	font-size: 2rem;
}

.news-container {
	display: flex;
	column-gap: 2rem;
	row-gap: 2rem;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 80%;
}

.news-item img {
	width: 100%;
	border: 2px #f8b017 solid;
}

.news-item {
	flex: 1 1 50%;
	max-width: calc(50% - 1rem);
}

.news-desc {
	position: relative;
}

.news-desc::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: ' ';
	width: 100%;
	height: 2px;
	background-color: wheat;
}

.btn-portfolio {
	font-size: 1.5rem;
	margin: 50px 0 20px 0;
	border-radius: 10px;
	border: 2px #f8b017 solid;
	background-color: transparent;
	color: white;
	padding: 8px;
}

.btn-portfolio:hover {
	background-color: rgba(250, 235, 215, 0.219);
}

.fifth-section {
	position: relative;
	background-color: #bc56c8;
	padding: 20px 5% 20px 5%;
}

.star-right {
	right: 0;
	top: 0;
}

.star-left {
	left: 0;
	top: 0;
}
.review span{
	max-width: 40%;
}
.review {
	display: flex;
	flex-direction: column;
	row-gap: 2.4rem;
	font-size: 1.2rem;
}

.reviews-header {
	font-size: 5rem;
}

.reviews {
	display: flex;
	flex-direction: column;
	row-gap: 5rem;
}

.fifth-section__container {
	position: relative;
}

.review-left {
  align-items: end;
	text-align: end;
}

.view-author {
	font-weight: 700;
}

.six-section__container {
	display: flex;
	flex-direction: column;
	padding: 2% 10% 0 5%;
}

.right-text {
	position: absolute;
	right: 0;
	background-color: #bc56c8;
	padding: 0.5rem;
	padding-right: 10rem;
	min-width: 320px;
	border-radius: 15px;
	text-align: left;
	font-weight: 700;
	font-size: 1.2rem;
}

.project-img {
	width: 100%;
	background-image: url('Rectangle2.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.advantages-btn {
	margin-top: 10px;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
	align-self: end;
}

.six-section {
	position: relative;
}

.six-section__img {
	position: absolute;
	right: 0;
	top: 4%;
}

.six-section__main {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-top: 100px;
}

.project-img img{
	max-width: 100%;
}

.projects {
	font-size: 6rem;
}

@media (max-width: 800px) {
	.news-item {
		max-width: unset;
	}

}

@media (max-width: 500px) {
	.info-cards {
		flex-direction: column;
		row-gap: 1rem;
	}
	.card {
		font-size: 25px;
		max-width: calc(100% - 2rem);
	}
	.brands, .brands-text {
		font-size: 1rem;
	}
	.news-item {
		font-size: 14px;
	}
	.review span {
		max-width: 100%;
	}
	.reviews-header {
		font-size: 2rem;
	}

	.advantages-item__text {
		font-size: 14px;
	}

	.projects {
		font-size: 2rem;
	}



}